

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #FA935A;
  --texto: #FAF8F4;
  --texto-inverso: #fff9c6;
  --destaque: #ffbc36;
  --destaque-inverso: #FA9E37;
  --fundo-card:#FA9E37 ;
} 

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.7s, color 0.7s;
}

nav#menu a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}